.menu {
    position: sticky;
}

.menu-item {
    list-style: none;
    padding: 5%;
    margin: 5%;
    background-color: white;
    border-radius: 5%;
}
.active {

}
.menu-item a{
    text-decoration: none;
    color:black;
    width: 100%;
    height: 100%;
}

.menu-item li {
    display: flex;
    padding: 5%;

}

.menu-item li:hover{ 
    background-color: #c5c2c2c7;
    border-radius: 10px;
}

.menu-item li:hover a{
    color: #00adff;
}